:root{
    --background : #FFF8E8;
    --box : #C49BBB;
}

*{
    background-color: var(--background);
}
.container {
    display: flex;
    flex : 0 0 1000px;
    flex-wrap: wrap;
    text-align: center;

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20vh;
    justify-content: center;
}

h1{
    width: 100%;
    font-size: 3em;
    height: 75px;
}

li {
    font-size: 1.5em;
    background-color: var(--box);
    width: 300px;
    height: 40px;
    margin: 5px;
    text-align: center;
    padding-top: 6px;
}

#list{
    display: flex ;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

#clear{
    height: 50px;
    width: 150px;
    
}

#back{
    height: 50px;
    width: 150px;
    margin-right: 10px;
}