:root{
    --color : #cbf3f0;
}

*{
    background-color: var(--color);
}

h1{
    width: 100%;
    font-size: 3em;
    height: 75px;
}

li {
    font-size: 1.5em;
    background-color: var(--color);
    width: 300px;
    height: 40px;
    margin: 5px;
    text-align: center;
    padding-top: 6px;
    border-radius: 200px 0px 200px 0px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.7);
}

.container {
    display: flex;
    flex : 0 0 1000px;
    flex-wrap: wrap;
    text-align: center;

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20vh;
    justify-content: center;
}

#list{
    display: flex ;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

#back{
    height: 50px;
    width: 150px;
    margin-right: 10px;
}

#clear{
    height: 50px;
    width: 150px;
    
}

@media screen and (max-width: 460px){
    #back{
        height: 50px;
        width: 100px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    #clear{
        height: 50px;
        width: 100px;
        
    }
}