header {
    display: flex;
    justify-content: space-between;
}

h1{
    
    font-size: 3em;
}
.container {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20vh;
    background-color: aqua;
}

#start{
    height: 10%;
    width: 15%;
    align-items: end;
}

#sub-heading {
    width : 75%;
    font-size: 1.5em;
    text-align: center;
}

li {
    font-size: 1.5em;
    background-color: blue;
    width: 300px;
    height: 40px;
    margin: 15px;
    text-align: center;
}

#initial {
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin-top: -250px;
}

#submit {
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: -250px;
}